#side-bar-dialog-container {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
	/* align-items: center; */
	/* justify-content: center; */
	cursor: pointer;
	background-color: #e8e8ed;
}

ul {
	list-style-type: none;
}

#label {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 14px;
	color: #545F7D;
	opacity: 0.6;
}