<div class="invoice-table-data-row py-2 py-lg-3 mb-3">
	<div class="invoice-table-data-container">
		<div class="invoice-table-data invoice-font-small">
			{{invoice.date}}
		</div>
	</div>
	<div class="invoice-table-data-container">
		<div class="invoice-table-data invoice-data-title invoice-font-small">
			{{invoice.title}}
		</div>
	</div>
	<div class="invoice-table-data-container">
		<div class="invoice-table-data invoice-data-amount invoice-font-small">
			{{invoice.amount}}
		</div>
	</div>
	<div class="invoice-table-data-container">
		<div class="invoice-table-data invoice-font-small">
			{{invoice.iban}}
		</div>
	</div>
	<div class="invoice-list-item-right-content d-none d-lg-flex">
		<div class="invoice-action-link invoice-action-link-space">
			Delete
		</div>
		<div class="invoice-action-link">
			Edit
		</div>	
	</div>
</div>