<div id="invoice-table-data-row" *ngFor="let invoice of rows" (click)="openModal(template)">
	<div id="invoice-table-data-container">
		<p id="invoice-table-data">
			{{invoice.date}}
		</p>
	</div>
	<div id="invoice-table-data-container">
		<p id="invoice-table-data invoice-data-title">
			{{invoice.title}}
		</p>
	</div>
	<div id="invoice-table-data-container">
		<p id="invoice-table-data invoice-data-amount">
			{{invoice.amount}}
		</p>
	</div>
	<div id="invoice-table-data-container">
		<p id="invoice-table-data">
			{{invoice.iban}}
		</p>
	</div>
	<div id="invoice-list-item-right-content">
		<p id="invoice-action-link invoice-action-link-space">
			Delete
		</p>
		<p id="invoice-action-link">
			Edit
		</p>	
	</div>
</div>